.dropdown-container {
    min-width: 170px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.dropdown {
    flex-grow: 1;
    background: transparent;
    padding: 5px 25px 5px 5px;
    border: 1px solid #ccc;
    height: 34px;
}
